<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="PerfumazonContext" connectionString="Data Source=Home-PC;Initial Catalog=Perumazon;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="PerfumazonContext" connectionString="server=127.0.0.1;uid=rizwan;pwd=rizwan;database=Perfumazon;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>